<head>
  {% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}
</head>

<header>
    <div style="max-width: 1800; margin-left: 10px;">{{ site.description }}</div>
</header>

<br>

<ul class="flex-container">

{% assign base_cull = page.url | remove: site.baseurl %}
{% assign base_cull2 = base_cull | remove_first: "/" %}
{% assign url_array = base_cull2 | split: "/" %}
{% assign current_sub = url_array.first %}

 <!-- "main" links are drawn, by default the "short" and "long" posts pages -->

 {% for item in site.data.headerExtra %}
 <li class="flex-left">
     {% if current_sub == item.link %}
     <a href="{{site.baseurl}}/{{ item.link }}" class="currentHeader">{{ item.name | strip }}</a>
     {% elsif current_sub == "tag" %}
     <a href="{{site.baseurl}}/{{ item.link }}" class="currentHeader">{{ item.name | strip }}</a>
     {% else %}
     <a href="{{site.baseurl}}/{{ item.link }}" class="linkHeader">{{ item.name }}</a>
     {% endif %}
 </li> &nbsp;&nbsp;
 {% endfor %}

{% for item in site.data.headerMain %}
<li class="flex-center">
    {% if current_sub == item.link %}
      <a href="{{site.baseurl}}/{{ item.link }}" class="currentHeader">{{ item.name }}</a>
    {% else %}
      <a href="{{site.baseurl}}/{{ item.link }}" class="linkHeader">{{ item.name }}</a>
    {% endif %}
</li>
{% endfor %}

 <!-- "extra" links are drawn, by default solely a "search" by tags page -->

{% for item in site.data.headerExtra %}
<li class="flex-right">
    {% if current_sub == item.link %}
    <a href="{{site.baseurl}}/{{ item.link }}" class="currentHeader">{{ item.name | strip }}</a>
    {% elsif current_sub == "tag" %}
    <a href="{{site.baseurl}}/{{ item.link }}" class="currentHeader">{{ item.name | strip }}</a>
    {% else %}
    <a href="{{site.baseurl}}/{{ item.link }}" class="linkHeader">{{ item.name }}</a>
    {% endif %}
</li> &nbsp;&nbsp;
{% endfor %}

</ul>

<hr>
