---
layout: default
---

<div class="overpost">

<p style="font-weight: bold; text-align: right">
{% if page.categories contains "long" %}
{{ page.title }}<br>
{{ page.date | date: "%D" }}<br>
Type: {{ page.type }}<br>
{% else %}
{{ page.date | date: "%T - %D" }}<br>
{% endif %}
Tags: {% for tag in page.tags %}
{% capture tag_name %}{{ tag }}{% endcapture %}
<a href="{{site.baseurl}}/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>#{{ tag_name }}</nobr></code>&nbsp;</a>
{% endfor %}
</p>

<br>

{{ content }}


</div>
