---
layout: default
---

<div class="overpost">

<p style="text-align: right">
{% if page.categories contains "long" %}
<b>{{ page.title }}</b><br>
{{ page.date | date: "%F" }}<br>
<b>Type:</b> {{ page.type }}<br>
{% else %}
{{ page.date | date: "%F" }}<br>
{% endif %}
<br>

<b>Tags:</b> {% for tag in page.tags %}
{% capture tag_name %}{{ tag }}{% endcapture %}
<a href="{{site.baseurl}}/tag/{{ tag_name }}"><nobr>&nbsp;#{{ tag_name }}</nobr></a>
{% endfor %}
</p>

<br>
{{ content }}
<br>

</div>

<br>
&nbsp;
<b>
&nbsp;
