---
layout: default
---

{% assign shortnonempty = 0 %}
{% assign longnonempty = 0 %}

<div class=overpost>

    <h2>#{{page.tag}}</h2>
    <br>
    <br>

</div>

<div class=overpost>

<h3>Short Posts:</h3>

<ul>
<div class="split left">
    {% for post in site.categories.short %}
    {% if post.tags contains page.tag %}
      <li>
        {% assign date_print = post.date | date: "%F"  %}
        {{ date_print | strip_newlines}} -
      </li>
      {% assign shortnonempty = 1 %}
    {% endif %}
    {% endfor %}
</div>
<div class="split right">
      {% for post in site.categories.short %}
      {% if post.tags contains page.tag %}
      <li>
        <a href="{{site.baseurl}}{{ post.url }}">
          {{ post.content | strip_html | truncate: 40 }}
        </a>
      </li>
      {% endif %}
      {% endfor %}
</div>

</ul>


</div>
{% if shortnonempty != 1 %}
<div class="nopost">No short posts found.</div>
{% endif %}

<br>
<br>

<div class=overpost>

  <h3>Long Posts:</h3>

<ul>

<div class="split left" style="font-weight: bold;">
      {% for post in site.categories.long %}
      {% if post.tags contains page.tag %}
          <li>
            {{ post.type }} -
          </li>
          {% assign longnonempty = 1 %}
      {% endif %}
      {% endfor %}
</div>
<div class="split right">
      {% for post in site.categories.long %}
      {% if post.tags contains page.tag %}
          <li>
            <a href="{{site.baseurl}}{{ post.url }}">
              {{ post.title }}
            </a>
          </li>
      {% endif %}
      {% endfor %}
</div>

</ul>

  {% if longnonempty != 1 %}
  <div class="nopost">No long posts found.</div>
  {% endif %}
</div>
